Client/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Kontrol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kelime1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kelime2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KontrolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KontrolResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>